<div class="container-fluid">
  <div class="col-md-8">
    <div class="well hero-panel">
      <h1><%= @user.name %></h1>
    </div>

    <hr/>
    <h2>Bids</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="table-head">
          <th>#</th>
          <th>Bid Listing</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @bids.each_with_index do |bid, idx| %>
          <tr>
            <td><%= idx + 1 %>. </td>
            <td><%= link_to bid.listing.title, bid.listing %></td>
            <td><%= number_to_currency(bid.amount) || number_to_currency(0) %></td>
            <% if current_user.id == bid.user_id %>
              <td><%= link_to 'Edit', '#', class: 'btn btn-sm btn-warning' %><%= link_to 'Delete', listing_bid_path(listing_id: bid.listing.id, id: bid.id), method: :delete, class: 'btn btn-sm btn-danger' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <br/><br/><br/>
    <h2>Listings</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="table-head">
          <th></th>
          <th>Title</th>
          <th>Closing</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @listings.each_with_index do |listing, idx| %>
          <tr>
            <td><%= idx + 1 %>. </td>
            <td><%= link_to listing.title, listing %></td>
            <td><%= listing.end_time.strftime("%m/%d/%y")%></td>
            <% if current_user.id == listing.user_id %>
              <td>
                <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-sm btn-warning' %>
                <%= link_to 'Delete', listing, method: :delete, class: 'btn btn-sm btn-danger' %>
              </td>
            <% end%>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
